body {
    margin: 0;
    padding: 0;
    touch-action: none;
    background: #ffffff;
    color-scheme: light;
}
body>div {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
}

#top-bar {
    height: 15vh;
    color: #000;
}
#arena {
    height: 40vh;
}
#button_grp {
    height: 5vh;
    white-space: nowrap;
    overflow-x: hidden;
}
#boop {
    width: calc(100vw - 44%);
    margin-left: 22%;
    margin-right: 22%;
}
#draw_undo,
#draw_redo,
#draw_done {
    width: 30vw;
    margin-right: 2vw;
}
#known,
#colors {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    list-style: none;
    display: flex;
}

#known {
    height: 20vh;
}
#colors {
    min-height: 20vh;
}

#drawing {
    border-top: 5px dashed black;
}

#arena>.item {
    position: absolute;
    touch-action: none;
    width: 25vw;
    height: 25vw;
}

#known .item,
#colors .color {
    width: 12vh;
    height: 12vh;
    margin: 3vh;
}

#colors .color {
    background-color: var(--color);
}

#known.locked .item,
#colors.locked .color {
    pointer-events: none;
}

#penpicker {
    width: 100%;
    height: 33vh;
    background-color: #fff;
    float: left;
    padding-top: .5rem;
}
#penpicker>.pensize {
    border-radius: 50%;
    border-style: outset;
    border-width: .5rem;
    width: var(--size);
    height: var(--size);
    margin: .5rem 0 .5rem 0;
    background-color: var(--color);
    transform: translateX(calc(7vh - 50% - .33rem));
}

#colmixer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33vh;
    height: 33vh;
    background-color: var(--color);
    text-align: center;
}
#mix_done {
    margin-top: 33%;
}
